.sidemenubar__container {
  /* padding-top: 5%;
  width: 10%;
  float: left;
  height: 100vh;
  background-image: linear-gradient(to bottom, #02c7cd 0.51%, #026383 99.53%);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -2.5px -2.5px 5px rgba(250, 251, 255, 0.5),
    2.5px 2.5px 5px rgba(166, 171, 189, 0.5); */
  top: 0;
  height: 5vh;
  background-image: linear-gradient(144.37deg, #ffffff 0%, #ffffff 100%);
  display: flex;
  align-items: center;
}

.sidemenubar__bullets {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px 0 0 5px;
}

.sidemenubar__profile__hide {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.sidemenubar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  color: #ffff;
  text-align: left;
  background-color: Transparent;
  text-decoration: none;
  border: none;
  outline: none;
}

.sidemenubar__button > img {
  max-width: 40px;
  height: auto;
}

.sidemenubar__button__selected {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  background-image: linear-gradient(
    90deg,
    #03577b 4.16%,
    rgba(2, 152, 169, 0.5) 86.66%
  );
  border: none;
  border-radius: 30px 0px 0px 30px;
}

.sidemenubar__button__selected > img {
  max-width: 40px;
  height: auto;
}

.sidemenubar__logout {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
  color: #ffffff;
  height: 50px;
  width: 80%;
  margin: auto;
  border: none;
  text-align: left;
  background-color: #bbd9d7;
  color: #000000;
  border-radius: 30px;
}

.sidebarmenu___menubox__show {
  height: 70%;
  overflow: auto;
}

@media (min-width: 961px) {
  .sidemenubar__container {
    display: none;
  }
}

@media (max-width: 600px) {
  .sidemenubar__button {
    height: 30px;
  }
  .sidemenubar__button > img {
    max-width: 30px;
    height: auto;
  }
  .sidemenubar__button__selected {
    height: 30px;
  }
  .sidemenubar__button__selected > img {
    max-width: 30px;
    height: auto;
  }
  .sidemenubar__logout {
    height: 30px;
  }
}

@media (max-height: 525px) {
  .sidebarmenu___menubox__show {
    height: 60%;
  }
}

@media (max-height: 425px) {
  .sidebarmenu___menubox__show {
    height: 50%;
  }
}

@media (max-height: 350px) {
  .sidebarmenu___menubox__show {
    height: 40%;
  }
}

@media (max-height: 300px) {
  .sidebarmenu___menubox__show {
    height: 25%;
  }
}

@media (max-height: 250px) {
  .sidemenubar__profile__hide {
    display: none;
  }
  .sidebarmenu___menubox__show {
    margin-top: 10%;
    height: 40%;
  }
}
